sqlResult_1558435.csv
zhwiki-20191120-pages-articles-multistream.xml.bz2
/zhwiki-20191120-pages-articles-multistream.xml/
/Step1_preprocessing/articles_after_segs.txt
/Step1_preprocessing/word2vec_format.txt
/Step1_preprocessing/.ipynb_checkpoints/